
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Frappe Bench stuff
env/
*.swp
*.swo
*.swn
*.bak
*.log
*.pid

# OS junk files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Build files
public/js/dist/
public/css/
public/build/

# VS Code
.vscode/
